<main>
    <section id="historia">
        <div class="section-container">
            <div class="flex-group">
                <h2><strong><em>Dúvidas Frequentes</em></strong></h2>
                <em>
                    <p>
                        - Como faço para agendar um evento?
                    </p><br>
                    <p>
                        Clique na aba "Login/Cadastro", na seção "Login" digite seu e-mail, senha e entre na sua conta, clique no link "Faça seu evento. Clique e agende!" 
                        e preencha as informações. Se você ainda não possui cadastro, clique no link "Quero me cadastrar" preencha os dados e em seguida acesse sua conta
                        para solicitar o agendamento. 
                    </p><br>
                    <p>
                        - Como realizo o pagamento?
                    </p><br>
                    <p>
                        Após análise da sua solicitação de evento, retornaremos o contato com você para recebimento do pagamento. Para os pagamentos com cartões de crédito
                        (aceitamos bandeiras Visa, Mastercard, American Express e Diners) será necessário que você se dirija até o nosso escritório (no próprio galpão do Rolê Top),
                            para o caso de pagamento através de boleto bancário enviaremos por e-mail e se for por transferência eletrônica, nos envie o comprovante para verificação.
                    </p><br>
                    <p>
                        - Como faço para cancelar um evento?
                    </p><br>
                    <p>
                        Entre em contato conosco com até 3 dias de antecedência do evento e peça o cancelamento. Caso passe este prazo, será cobrado uma multa de 50% do valor do aluguel. 
                    </p><br>
                </em>
            </div>
        </div>
    </section>
</main>